*{
	box-sizing: border-box;
	margin: 0;
}

body{
	background-image: linear-gradient(to left   ,black , lightcoral ,white);
}

.nail{
	width: 2.6%;   
	height: 36px;
	min-width: 2em;
 	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	position: relative;
	box-shadow: 5px 5px 10px;
	background-image: linear-gradient(to left, black,rgb(160, 160, 158));
}
  
.nail-in1{
	background-color: rgb(19, 19, 25);
	width: 0.5em;
	height: 1.6em;
	border-radius: 2em;
	position: absolute;
	transform: rotate(40deg);
	top: 0.3em;
	left: 0.8em;
 }

.nail-in2{
	background-color: rgb(19, 19, 25);
	width: 0.5em;
	height: 1.6em;
	border-radius: 2em;
	transform: rotate(140deg);
	position: relative;
	top: 0.3em;
	left: 0.8em;
 }

.rope{
	width: 6.3%; 
	height: 110px;
	margin-left: auto;
	margin-right: auto;
 	border-top-left-radius: 45px 65px;
	border-top-right-radius: 45px 65px;
    border-style: double;
    border-color: brown;
    border-width: 8px;
    border-top-color: brown;
    border-bottom-width: 0;
 	position: absolute;
	top: 3.3em;
	left: 0;
	right: 0;
	z-index: -1;
   }

.container{
    background-image: repeating-radial-gradient(green 78%,green ,yellow ,pink);
	width: 30em;
	height: 450px;     
 	margin-left: auto;
	margin-right: auto;
    margin-top: 5px;
    border: 13px outset red;
    position: relative;
    top: 38px;
    box-shadow: 10px 10px 15px;
    transition: all 2s;
    position: relative;
}

.img1:hover,.img2:hover,
 .img3:hover,.img4:hover,
 .img5:hover,.img6:hover,
 .img7:hover,.img8:hover,
 .img9:hover,.img10:hover,
 .img11:hover{
  transform: scale(1.3);
  box-shadow: 0 0 50px;
  z-index: 12;
 }

.img1,.img2,
 .img3,.img4,
 .img5,.img6,
 .img7,.img8,
 .img9,.img10,
 .img11{
	transition: all 2s;
}

.img1{
	width: 20%;
	height: 45%;
 	position: relative;
}

.img2{
	width: 40%;
	height: 30%;
 	position: absolute;
	top: 0;
	left: 38%;  
}

.img3{
	width: 40%;
	height: 65.5%;
	position: absolute;
	right: 0;
}

.img4{
	width: 20%;
	height: 9em;
 	position: absolute;
	top: 12em;
	left: 0;
}

.img5{
	width: 25%;
	height: 13.4em;
 	position: absolute;
	bottom: 0;
}

.img6{
	width: 45%;
	height: 13.5em;
 	position: absolute;
	top: 5em;
	left: 35%;   
}

.img7{
	width: 50%;
	height: 8em;
 	position: absolute;
	top: 10em;
	left: 32%;  
}

.img8{
	width: 30%;
	height: 8.5em;
 	position: absolute;
	bottom: 0;
	left: 34.3%;  
}

.img9{
	width: 25%;
	height: 7em;
 	position: absolute;
	bottom: 0;
	right: 0;
}

h1{
	font-size: 3.1em;
	text-align: center;
	color: orange;
	background-color: darkred;
 }

.img10{
 width: 44.1%;
 height: 200px;
 }

.img11{
 width: 24.7%;
 height: 9em;
 position: absolute;
 top: 11em;
}

@media screen and (max-width: 950px){
	.container{
		width: 82%;
 	}

	h1{
		font-size: 1.5em;
	}
 .rope{
 	min-width: 2.5em;
 	position: absolute;
	top: 1.5em;
   }

.nail{
	height: 30px;
	min-width: 1.5em;
 }

.nail-in1{
	width: 0.4em;
	height: 1.2em;
	top: 23%;
	left: 34%;
 }

.nail-in2{
	width: 0.4em;
	height: 1.2em;
	top: 23%;  
	left: 34%;
 }
}